body{
	background-image: url("Sunset.jpg");
	background-size: 2000px 2000px;
}

h1 {
	color: Black;
	text-align: center;
	font-size: 70px;
	}
	
h2 {
	color: Black;
}

.video {
	display: block;
	text-align: center;
	border: 2px;
}

.devotional {
	color: black;
}
.dev{
	color: black;
}
.info {
	color: red;
}
.foot {
	color:red;
}