html {
	background: url("Sunset.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.menu {
	display: inline;
	background-color: #e68d36;
	Position: fixed;
	top : 0;
	width : 100%;
	text-align: center;
	padding: 14px 16px;
}
h1 {
	text-align: Center;
	margin-top: 65px;
}
.services {
	font-size: 20px;
	font-weight: Bold;
}
.dev {
	color: red;
}
#paragraph {
	color:black;
	font-size: 20px;
}
#recent {
	text-align: center;
}
.video {
	text-align: center;
}
#contact {
	color: red;
}
#info {
	color:red;
}
.foot{
	color:red;
	font-size: 20px;
}
